@page
@model FoodAndStyleOrderPlanning.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ClientRestaurants</h1>

@section Scripts  {

    <script>

        $(function () {
            $.ajax("/api/restaurants/", { method: "get" }).
                then(function (response) { console.dir(response); });
        });

    </script>

}
