@page
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Your restaurant was not found</h1>
<a asp-page="./List" class="btn btn-primary">See all restaurants</a>

