<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Food & Style Order Planning</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>

        <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-md bg-primary navbar-dark">

            <div class="container">
                <!-- Brand -->
                <!-- Toggler/collapsibe Button -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Suppliers/List"><h3>Προμηθευτές</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Products/List"><h3>Προϊόντα</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Recipes/List"><h3>Συνταγές</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Orders/List"><h3>Παραγγελίες</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Users/List"><h3>Χρήστες</h3></a>
                        </li>
                    </ul>
                </div>

                <div>
                    <img id="fbUserImage" class="rounded-circle" src="">
                </div>

            </div>
        </nav>


    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        @*<vc:restaurant-count></vc:restaurant-count>*@
        <div class="container">
            &copy; 2019 - Food and Style
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            var current = location.pathname;
            $('.navbar-nav li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href').split('/')[1]) !== -1) {
                    $this.addClass('active');
                }
            });

            var facebookAccessToken = localStorage.getItem("FacebookAccessToken");

            if (facebookAccessToken === 'undefined' || facebookAccessToken === null) {
                $.getJSON("https://foodandstyle.azurewebsites.net/.auth/me", function (data) {
                    localStorage.setItem("FacebookAccessToken", data[0]["access_token"]);
                });
            }

            facebookAccessToken = localStorage.getItem("FacebookAccessToken")
    
            $("#fbUserImage").attr("src","https://graph.facebook.com/me/picture?access_token=" + facebookAccessToken);


            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
