@page
@model FoodAndStyleOrderPlanning.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h1 class="text-danger text-center">Access denied for user @Model.UPN</h1>
<br />
<div class="text-center">
    <i class="fa fa-hand-paper-o fa-4x"></i>
</div>
