@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your ordering system</h1>
    Claims:
    @foreach(string s in Model.Claims)
    {
        <div>@s</div>
    }

</div>
