@page "{id:int}"

@model FoodAndStyleOrderPlanning.Pages.Recipes.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<br/>
<div class="alert alert-danger">
    Διαγραφή συνταγής @Model.Recipe.Name?
</div>
<br />
<form method="post">
    <button type="submit" class="btn btn-danger">Διαγραφή</button>&nbsp;&nbsp;&nbsp;
    <a asp-page="List" class="btn btn-outline-dark">Ακύρωση</a>
</form>
