@page "{id:int}"
@model FoodAndStyleOrderPlanning.Pages.Suppliers.ToggleActiveModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToggleActive</title>
</head>
<body>
</body>
</html>
